@charset "utf-8";

/*웹폰트 설정*/
/* NotoSansKR */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

@font-face {
	font-family: 'The120';
	font-style: normal;
	font-weight: normal;
	src: local('The120'),
		/* url(../font/The120.eot), */
		/* url(../font/The120.eot?#iefix) format('embeded-opentype'), */
		url(../font/The120.woff) format('woff');
}

@font-face {
	font-family: 'The140';
	font-style: normal;
	font-weight: normal;
	src: local('The140'),
		/* url(../font/The140.eot), */
		/* url(../font/The140.eot?#iefix) format('embeded-opentype'), */
		url(../font/The140.woff) format('woff');
}

@font-face {
	font-family: 'The150';
	font-style: normal;
	font-weight: normal;
	src: local('The150'),
		/* url(../font/The150.eot), */
		/* url(../font/The150.eot?#iefix) format('embeded-opentype'), */
		url(../font/The150.woff) format('woff');
}

@font-face {
	font-family: 'The160';
	font-style: normal;
	font-weight: normal;
	src: local('The160'),
		/* url(../font/The160.eot), */
		/* url(../font/The160.eot?#iefix) format('embeded-opentype'), */
		url(../font/The160.woff) format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "굴림체", "GulimChe", "맑은고딕" , "MalgunGothic" , arial, helvetica, serif , sans-serif;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	color: #959595;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

/* 공통 스타일 적용 */
/* input */
.txtBox {
	padding:0;
}
::-webkit-input-placeholder {
	color:#9d9d9c;
}
:-ms-input-placeholder {
	color:#9d9d9c !important;
}
:-moz-placeholder {
	color:#9d9d9c;
}
input[type="text"]:disabled , input[type="password"]:disabled , textarea:disabled {
	background:#f6f6f6;
}
.inpt {
	height: 28px;
	padding: 0 5px;
	border: 1px solid #707070;
	font-family: "굴림체", "GulimChe", arial, helvetica, serif , sans-serif;
	font-size: 11px;
	color: #3c3d3e;
	box-sizing: border-box;
	outline: none;
	vertical-align: middle;
}
.inpt:disabled {
	background: #e5e5e5;
	border-color: #e5e5e5;
	color: #bbb;
}

/* selectbox */
select {
	position: relative;
	width:auto; 
	height: 28px; 
	padding:0 44px 0 13px;
	background: url("../image/bl_arrow_up.png") no-repeat right 50%,
				url("../image/bg_select.png") repeat-x right 50%;
	border:1px solid #cbcbcb;
	-moz-border-radius:0; 
	-webkit-border-radius:0; 
	border-radius:0; 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
	font-family: "돋움", "Dotum", arial, helvetica, serif , sans-serif;
	font-size: 12px;
	color:#757575; 
	overflow:hidden;
	outline: 0;
}

select::-ms-expand {display: none;}

/* checkbox 디자인 */
.checks {
	position: relative;
} 
.checks input[type="checkbox"] , .checks input[type="radio"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0;
} 
.checks input[type="checkbox"] + label , .checks input[type="radio"] + label {
	display: inline-block; 
	position: relative; 
	padding: 0.4rem 0 0.4rem 3.7rem;
	font-size: 1.8rem;
	color: #3c3d3e;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
}
.checks input[type="checkbox"] + label:before , .checks input[type="radio"] + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 50%; 
	width: 2.6rem; 
	height: 2.6rem; 
	margin-top: -1.3rem;
	line-height: 2.6rem;
	text-align: center; 
	border-radius : 0px; 
	background: url("../image/sprite.png") no-repeat;
	background-position: -11px -5px;
} 
.checks input[type="checkbox"] + label:active:before, 
.checks input[type="checkbox"]:checked + label:active:before {

} 
.checks input[type="checkbox"]:checked + label:before , .checks input[type="radio"]:checked + label:before { 
	content: ''; 
	background-position: -11px -38px;
}

.checks.sm {
	position: relative;
} 
.checks.sm input[type="checkbox"] + label , .checks.sm input[type="radio"] + label {
	display: inline-block; 
	position: relative; 
	padding: 0.4rem 0 0.4rem 2rem;
	font-size: 1.6rem;
	color: #3c3d3e;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
}
.checks.sm input[type="checkbox"] + label:before , .checks.sm input[type="radio"] + label:before { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 50%; 
	width: 1.6rem; 
	height: 1.6rem; 
	margin-top: -0.6rem;
	line-height: 1.6rem;
	text-align: center; 
	border-radius : 0px; 
	background: url("../image/sprite.png") no-repeat;
	background-position: -53px -12px;
}
.checks.sm input[type="radio"] + label:before {
	background-position: -89px -12px;
}
.checks.sm input[type="checkbox"]:checked + label:before { 
	content: ''; 
	background-position: -53px -43px;
}
.checks.sm input[type="radio"]:checked + label:before {
	content: '';
	background-position: -88px -43px;
}

/* 테이블 */
table {
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}
table th {
	font-size: 1.4rem;
	color: #888;
}
table td {
	font-size: 1.4rem;
}
.tbl_area {
	position: relative;
}
.tbl_area .checks.sm input[type="checkbox"] + label:before, .tbl_area .checks.sm input[type="radio"] + label:before {
	margin-top: -0.8rem;
}
.tbl_row th {
	padding: 2rem 2.2rem;
	background: #fafafa;
	border-top: 1px solid #ddd;
}
.tbl_row td {
	min-height: 3.5rem;
	padding: 1rem 1.5rem;
	border-top: 1px solid #ddd;
	font-size: 1.4rem;
	color: #3c3d3e;
}
.tbl_row td .inner {
	position: relative;
	height: 100%;
	padding-left: 7.7rem;
}
.tbl_row .checks {
	position: absolute;
	top: 1rem;
	left: 0;
	padding-right: 1.1rem;
}
.tbl_row .checks:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 1.6rem;
	margin-top: -0.8rem;
	background: #ddd;
}
.tbl_row .tag_area {
	margin-bottom: 0;
}
.tbl_row .tag_area .tag {
	width: 8.9rem;
	height: 3.5rem;
	font-size: 1.2rem;
}
.tbl_row .mid_align {
	margin: 0 0.7rem;
}
.mid_align {
	font-size: 1.4rem;
	color: #bbb;
	vertical-align: middle;
}
.tbl_row td .inpt {
	height: 3.5rem;
	line-height: 3.5rem;
}
.tbl_footer {
	background: #f2f2f2;
	padding: 1rem;
	text-align: center;
}
.tbl_footer.btn_sch .sch {
	height: 3.5rem;
	font-size: 1.4rem;
	line-height: 3.5rem;
}
.tbl_col {
	table-layout: fixed;
}
.tbl_scroll {
	overflow: auto;
}
.tbl_col th {
	padding: 2.1rem 0.5rem;
	border: 1px solid #ddd;
	border-right: 0;
	background: #fafafa;
	font-size: 1.4rem;
	color: #888;
	text-align: center;
}
.tbl_col th:first-child {
	border-left: 0;
}
.tbl_col td {
	height: 15rem;
	padding: 1.3rem 1.7rem;
	border: 1px solid #ddd;
	border-right: 0;
	font-size: 1.4rem;
	font-weight: 600;
	color: #2a2f40;
	text-align: center;
}
.tbl_col td:first-child {
	border-left: 0;
}
.tbl_col .price {
	color: #888;
}

/* 버튼 */
.btn_area {
	clear: both;
	position: relative;
	text-align: center;
}
button {
	cursor: pointer;
	outline: 0;
}
.btn {
	display: inline-block;
	min-width: 80px;
	background: transparent;
	border: 1px solid transparent;
	font-family: "굴림체", "GulimChe", "맑은고딕" , "MalgunGothic" , arial, helvetica, serif , sans-serif;
	color: #010101;
	text-align: center;
	border-radius: 0;
	vertical-align: middle;
}
.btn:focus , .btn:active {
	box-shadow: none;
}
.btn.xs {
	padding: 0 5px;
	border: 1px solid #646464;
	font-size: 11px;
	color: #3c3d3e;
	line-height: 21px;
}
.btn.sm {
	padding: 0 2rem;
	border: 1px solid #ddd;
	font-size: 1.4rem;
	color: #3c3d3e;
	line-height: 3.3rem;
}
.btn.mid {
	padding: 0 7.7rem;
	font-size: 1.8rem;
	line-height: 6rem;
}
.btn.gray {
	background: #3c3d3e;
	color: #fff;
}
.btn.light_gray {
	background: #888;
	border-color: #888;
	color: #fff;
}

/* 이미지 스프라이트 */
.sprite {
	background-color: transparent;
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;
}
.sprite_before:before , .sprite_after:after {
	content: '';
	display: block;
	background-color: transparent;
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;
}

/* layer popup */
.ly {
	display:none; 
	position:fixed; 
	_position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:100;
}
.ly .bg {
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:#000; 
	opacity:.5; 
	filter:alpha(opacity=50);
}
.ly .pop_intro {
	display:block; 
	position: absolute; 
	bottom:168px; 
	left:50%; 
	width:80%; 
	background: #fff;
}
.ly .btn_pop_close {
	position:absolute; 
	top:-89px;
	right: 0;
	width: 71px;
	height: 74px;
	background-position: -60px -7px;
	text-indent: -9999px;
	overflow: hidden;
}

/* 공통 class */
.both {clear:both;}
.clearfix {width:100%;}
.clearfix:after {content:''; clear:both; display:block;}
.blind {position:relative; overflow:hidden; text-indent:-9999px; line-height:0;}
.br {display:block;}
.ellip {
	display: block;
	height: 100%;
}
.ellip-line {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.ellip, .ellip-line {
	position: relative;
	overflow: hidden;
	max-width: 100%;
}
.line_break {
	display: block;
	margin: 0.7rem 0;
}

#tooltip {
	position: absolute;
	background: #fff;
	border: 1px solid #bbb;
	padding: 1.1rem 1.3rem;
	font-size: 1.4rem;
	font-weight: 600;
	color: #3c3d3e;
	z-index: 20;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
#tooltip:after, #tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 8px;
	margin-left: -3px;
}
#tooltip:before {
	border-color: rgba(187, 187, 187, 0);
	border-top-color: #bbbbbb;
	border-width: 9px;
	margin-left: -4px;
}

/* 달력 */
.ui-datepicker {
    width: 17em;
	padding: .2em .2em 0;
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	display: none;
	background: #fff;
	z-index: 1000 !important;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
	padding: .2em 0;
	border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
	font-weight: bold;
	border-radius: 3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 50%;
    width: 1.8em;
	height: 1.8em;
	margin-top: -0.9rem;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	left: 0.2rem;
}
.ui-datepicker .ui-datepicker-next {
	right: 0.2rem;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
	width: 16px;
	height: 16px;
	text-indent: -999rem;
}
.ui-datepicker .ui-datepicker-prev span {
	background: url("../image/sprite.png") no-repeat -60.6rem -1.5rem;
}
.ui-datepicker .ui-datepicker-next span {
	background: url("../image/sprite.png") no-repeat -57.4rem -1.5rem;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	height: 3rem;
	background-color: #fff;
	font-size: 1.4rem;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
	margin: 0 0 .4em;
	border: 0;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

/* 다중 파일 업로드 */
.multi_file.multi_file {
	display: none;
}
.multi_fileupload .btn {
	padding: 0 2rem;
    background: #888;
    border: 0;
    font-size: 1.4rem;
    line-height: 4.6rem;
    color: #fff;
    vertical-align: middle;
    box-sizing: border-box;
	overflow: hidden;
	outline: none;
}
.files:after {
	content: '';
	clear: both;
	display: block;
}
.files .template-upload {
	position: relative;
	float: left;
	width: 15rem;
	margin: 0.7rem 0 0 0.5rem;
	border: 1px solid #ddd;
}
.files .template-upload:first-child {
	margin-left: 0;
}
.files .template-upload .name {
	width: 100%;
	padding: 0.5rem;
	font-family: inherit;
	font-size: 1.2rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.files .template-upload .preview {
	display: block;
	position: relative;
	width: 100%;
	height: 8rem;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.files .template-upload .preview > * {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/* layout */
.intro_wrap {
	height: 100vh !important;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #fff;
	z-index: 50;
}
.header .inner {
	position: relative;
	padding: 0 41px;
}
.header .inner .logo {
	padding-top: 16px;
}
.header .inner .sch_box {
	position: absolute;
	top: 52px;
	right: 41px;
}
.header .inner .sch_box:after {
	position: absolute;
	top: 50%;
	right: 6px;
	display: block;
	width: 20px;
	height: 18px;
	margin-top: -9px;
	background-position: -6px -7px;
}
.header .inner .sch_box .inpt {
	width: 100%;
	padding-right: 28px;
}
.header .inner .login {
	margin-top: 9px;
}
.header .inner .login .inpt {
	width: 120px;
	height: 23px;
	border: 0;
	border-bottom: 1px solid #646464;
}

.intro_wrap .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #efefef;
	border-top: 1px solid #e0e0e0;
	z-index: 50;
}
.intro_wrap .footer .inner {
	padding: 13px 41px 25px;
}
.intro_wrap .footer .inner .footer_info {
	font-family: "굴림체", "GulimChe", "맑은고딕" , "MalgunGothic" , arial, helvetica, serif , sans-serif;
	font-size: 11px;
	color: #959595;
}
.intro_wrap .footer .inner .footer_info span {
	display: inline-block;
	margin: 0 17px 2px 0;
}
.intro_wrap .footer .inner .utill {
	position: absolute;
	top: 11px;
	right: 41px;
}
.intro_wrap .footer .inner .utill .utill_list:after {
	content: '';
	display: block;
	clear: both;
}
.intro_wrap .footer .inner .utill .utill_list li {
	float: left;
	margin: 5px 0 0 16px;
}
.intro_wrap .footer .inner .utill .utill_list li.site_link {
	margin-top: 0;
}
.intro_wrap .footer .inner .utill .utill_list li.bold {
	font-weight: 600;
}
.intro_wrap .footer .inner .utill .utill_list li > a {
	font-family: "돋움", "Dotum", arial, helvetica, serif , sans-serif;
	font-size: 11px;
	color: #888787;
}

/* intro */
.intro .inner {
	height: 100vh !important;
	padding: 82px 0 76px;
	overflow: hidden;
}
/* 인트로 베너 */
.intro_banner {
	position: absolute;
	bottom: 76px;
	left: 50%;
	width: 774px;
	height: 77px;
	background: url("../image/intro/bg_bn_intro.png") no-repeat 50% bottom;
	margin-left: -387px;
	z-index: 50;
}
.intro_banner .all_view {
	position: absolute;
	bottom: 12px;
	left: 71px;
	display: block;
	padding-right: 22px;
	font-family: "Noto Sans Korean" , sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: #162b84;
	text-align: center;
}
.intro_banner .all_view:after {
	position: absolute;
	top: 50%;
	right: 0;
	content: '';
	display: block;
	width: 12px;
	height: 14px;
	margin-top: -7px;
	background: url("../image/sprite.png") no-repeat -154px -8px;
}
.intro_banner .bn_list {
	margin-top: 37px;
	padding: 0 30px 0 160px;
	overflow: hidden;
}
.intro_banner .bn_list li {
	position: relative;
	float: left;
	width: 25%;
	height: 25px;
	text-align: center;
}
.intro_banner .bn_list li:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 2px;
	height: 25px;
	background: url("../image/sprite.png") no-repeat -184px -7px;
}
.intro_banner .bn_list li:first-child:before {
	display: none;
}
.intro_banner .bn_list li a {
	position: relative;
	display: block;
	width: 100%;
	font-family: "Noto Sans Korean" , sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	color: #000;
	text-align: center;
}
.intro_banner .bn_list li a:before {
	display: inline-block;
	width: 13px;
	height: 15px;
	margin: -2px 5px 0 0;
	vertical-align: middle;
}
.intro_banner .bn_list li .m1:before {
	background-position: -203px -7px;
}
.intro_banner .bn_list li .m2:before {
	background-position: -234px -7px;
}
.intro_banner .bn_list li .m3:before {
	background-position: -264px -7px;
}
.intro_banner .bn_list li .m4:before {
	background-position: -293px -7px;
}

/* 아코디언 메뉴 */
#section .section {
	position: relative;
	display: flex;
	width: 100%; 
	height: 290px;
	padding: 0;
}
#section .section .cont {
	position:relative;
	width: 20%; 
	height: 290px; 
	overflow: hidden;
}
#section .section .cont .area {
	position:absolute; 
	top:0; 
	left:0;
	right: 0;
	bottom: 0;
	height: 290px;
	overflow: hidden;
}
#section .section .cont .area img {
	max-width: none;
	max-height: 290px;
	overflow: hidden;
}
#section .section .cont.on .area img {
	transition: transform .5s ease;
} 
#section .section .cont.on .area:hover img {
	transform: scale(1.1);
}
#section .section .cont .title_off {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	height: 21%;
	margin: auto;
	font-family: "The150", arial, helvetica, serif , sans-serif;
	font-size: 28px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	opacity: 0.7;
	z-index: 5;
}
#section .section .cont.on , #section .section .cont.active {
	width: 40%;
	overflow: hidden;
}
#section .section .cont.on .title_off , #section .section .cont.active.on .title_off , #section .section .cont .title_on , #section .section .cont.active.on .title_on {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
#section .section .cont.on .title_on , #section .section .cont.active.on .title_on {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	/* width: 100%; */
}
#section .section .cont.on .title_on .tit , #section .section .cont.active .title_on .tit {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	padding-left: 22px;
	font-family: "The120", arial, helvetica, serif , sans-serif;
	font-size: 42px;
	font-weight: 400;
	color: #000;
	white-space: nowrap;
}
#section .section .cont.on .title_on .tit strong , #section .section .cont.active .title_on .tit strong {
	font-family: "The160", arial, helvetica, serif , sans-serif;
	color: #000;
}
#section .section .cont.on .title_on .name , #section .section .cont.active .title_on .name {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	padding: 0 26px;
	font-family: "The150", arial, helvetica, serif , sans-serif;
	font-size: 28px;
	line-height: 60px;
	color: #fff;
}
#section .section .cont.on .title_on.m1 .name , #section .section .cont.active .title_on.m1 .name {
	background: #00dbb5;
}
#section .section .cont.on .title_on.m2 .name , #section .section .cont.active .title_on.m2 .name {
	background: #fcba00;
}
#section .section .cont.on .title_on.m3 .name , #section .section .cont.active .title_on.m3 .name {
	background: #00a9db;
}
#section .section .cont.on .title_on.m4 .name , #section .section .cont.active .title_on.m4 .name {
	background: #bf53c8;
}
#section .section .cont.on .title_on .link , #section .section .cont.active .title_on .link {
	position: absolute;
	bottom: 0;
	right: 0;
}
#section .section .cont .title_on .link .btn:after {
	content: '';
	display: inline-block;
	width: 6px;
	height: 12px;
	margin: -3px 0 0 5px;
	background: url("../image/sprite.png") no-repeat -40px -8px;
	vertical-align: middle;
}
#section .section .cont.on .title_on.m1 .link .btn , #section .section .cont.active .title_on.m1 .link .btn {
	background-color: #248c7a;
}
#section .section .cont.on .title_on.m2 .link .btn , #section .section .cont.active .title_on.m2 .link .btn {
	background-color: #e98f09;
}
#section .section .cont.on .title_on.m3 .link .btn , #section .section .cont.active .title_on.m3 .link .btn {
	background-color: #064da9;
}
#section .section .cont.on .title_on.m4 .link .btn , #section .section .cont.active .title_on.m4 .link .btn {
	background-color: #9401b9;
}
#section .section .cont.on .title_on .link .btn , #section .section .cont.active .title_on .link .btn {
	padding: 0 12px;
	border: 0;
	font-family: "Noto Sans Korean" , sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	line-height: 60px;
	text-align: center;
}
.section .cont .layer {
	display:block; 
	width:100%; 
	height:290px; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1; 
	background:#333333; 
	filter:alpha(opacity=70); 
	opacity:0.7;
}
.section .cont.on .layer {
	display:none; 
}
.section .cont.menu1 .layer {
	background: #3ba997;
}
.section .cont.menu2 .layer {
	background: #b87600;
}
.section .cont.menu3 .layer {
	background: #2375ff;
}
.section .cont.menu4 .layer {
	background: #82408a;
}

/* 아코디언 버튼 액션 */
.btn_over {
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	overflow: hidden;
}
.btn_over:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #666;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn_over:hover, .btn_over:focus, .btn_over:active {
	color: white;
}
.btn_over:hover:before, .btn_over:focus:before, .btn_over:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}

/* 인트로 비주얼 */
.forcefullwidth_wrapper_tp_banner {
	height: 100vh !important;
	overflow: hidden;
}
.tp-banner-container {
	width: 100% !important;
	max-width: 100%;
	height: calc(100vh - 158px) !important;
	max-height: 100% !important;
	overflow: hidden !important;
}
.tp-banner-container .tp-banner {
	width: 100%;
	max-width: 100%;
	max-height: 100% !important;
	overflow: hidden;
}
.tp-bullets {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 50%;
	left: auto !important;
	bottom: auto !important;
	right: 41px;
	width: auto;
	height: 290px;
	margin: -145px 0 0 0 !important;
	padding: 0;
	z-index: 50;
}
.tp-bullets.simplebullets.round .bullet {
	float: none;
	display: block;
	width: 6px;
	height: 50px;
	margin: 10px 0 0 0;
	padding: 0;
	border: 0;
	border-radius: 3px;
	background: #8e8e8d;
	cursor: pointer;
}
.tp-bullets.simplebullets.round .bullet.first {
	margin: 0;
}
.tp-bullets.simplebullets.round .bullet.last {
	margin-right: 0;
}
.tp-bullets.simplebullets.round .bullet.selected {
	background: #1d1d1b;
}

.tp-banner-container .btn_detail {
	display: inline-block;
	padding: 0 22px;
	background: #638fb1;
	border: 0;
	border-radius: 22px;
	font-family: "The140", arial, helvetica, serif , sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	text-align: center;
}

/* 페이지 로딩시 */
.loading {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.5);
	z-index: 1200;
}
.loading:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}

/* 메인 컨텐츠 */


/* 제품이미지 슬라이드 */
.product_slider_area img {
	max-width: 100%;
}
.product_slider_area .main_slider {
	width: 400px;
	margin: 0 auto;
}
.product_slider_area .main_slider .slick-slide {
	position: relative;
	height: 400px;
	border: 1px solid #ddd;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	/* display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;  */
}
.product_slider_area .main_slider .slick-slide img , .product_slider_area .thumb_slider .slick-slide img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.product_slider_area .thumb_slider {
	width: 400px;
	padding: 0 80px;
	margin: 0 auto;
}
.product_slider_area .thumb_slider .slick-prev {
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border: 1px solid #ddd;
	background: url("../image/large_left.png") no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.product_slider_area .thumb_slider .slick-list {
	padding: 0 !important;
}
.product_slider_area .thumb_slider .slick-slide {
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
}







/* Ver.tablet */
@media all and (max-width:1360px) {
	html {font-size:62.5%;}
	.intro_wrap .footer .inner .utill {
		position: static;
		margin: 10px 0 0 0;
	}
	.intro_wrap .footer .inner .utill .utill_list li:first-child {
		margin-left: 0;
	}

	.intro_banner {
		bottom: 114px;
	}

	.tp-banner-container .btn_detail {
		padding: 0 2.2rem;
		border-radius: 2.2rem;
		font-size: 1.3rem;
		line-height: 3.3rem;
	}
}

@media all and (max-width:878px) {
	
}

@media all and (max-width:768px) {
	
}

/* Ver.mobile */
@media all and (max-width:640px ) {
	
}

@media all and (max-width:530px ) {

}

@media all and (max-width:430px ) {
	
}

@media all and (-webkit-max-device-pixel-ratio :2) and (max-device-pixel-ratio :2) {

}


/*portrait mode*/
@media all and (orientation:portrait) {
	
}

/*landscape mode*/
@media all and (max-width : 767px) and (orientation:landscape) {
	
}